## **Discuss string slicing and provide examples in python**

String slicing refers to accessing a substring from a given string. In Python, strings are indexed, and you can access parts of the string using slice notation

string[start:end:step]

start: (inclusive).
end:(exclusive).

In [ ]:
#Examples: lets Consider a String
text = "Hello, World!"

#Slice with only start and end:
print(text[0:5])

Hello

In [ ]:
#Slice without specifying start or end:
print(text[:5])
print(text[7:])

Hello
World!

In [ ]:
#Slice with step:

print(text[0:12:2])

Hlo ol

In [ ]:
#Negative slicing:
print(text[-6:])

#Negative indexing starts from the end of the string. text[-6:] starts slicing from the 6th character from the end.

World!

In [ ]:
#Reversing a string using slicing:
print(text[::-1])
#By using a negative step (-1), the string is reversed.

!dlroW ,olleH

In [ ]:
#Extracting alternate characters:
text = "abcdefghij"
print(text[::2])

#The slice ::2 starts from the beginning and selects every second character.

acegi

In [ ]:
#Extracting a substring in reverse order:
print(text[5:1:-1])

#This slice starts at index 5 and moves backwards to index 2 (exclusive), selecting characters in reverse.

fedc

In [ ]:
#Handling out-of-range indices:
print(text[3:100])

#If the end index exceeds the length of the string, Python safely returns characters up to the string's length without an error.

defghij

**#Important Notes:**
Immutable strings: Strings in Python are immutable, so slicing a string creates a new string and does not modify the original one.

## **Explain the key features of lists in python**
##Lists are one of the most versatile and commonly used data structures in Python. They allow you to store multiple items in a single variable and provide a wide range of features for managing and manipulating collections of data. Below are the key features of lists in Python:

In [ ]:
#1. Ordered Collection
#Lists maintain the order of the elements as they are inserted.

my_list = [10, 20, 30, 40]
print(my_list)

[10, 20, 30, 40]

In [ ]:
#Mutable
#Lists are mutable, meaning you can change their content after creation by updating, adding, or removing elements.
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [ ]:
#Heterogeneous Elements
#Lists can store elements of different data types, including integers, floats, strings, other lists, or even custom objects.
my_list = [1, "Hello", 3.14, [2, 3]]
print(my_list)

[1, 'Hello', 3.14, [2, 3]]

In [ ]:
#Indexing and Slicing
#it can access elements in a list using their index. Indexing starts at 0, and negative indexing is supported. You can also extract sublists using slicing.
my_list = [1, 2, 3, 4, 5]
print(my_list[0])
print(my_list[-1])
print(my_list[1:4])

1
5
[2, 3, 4]

In [ ]:
#Membership Testing
#it checks whether an element exists in a list using the in keyword

my_list = [1, 2, 3, 4, 5]
print(3 in my_list)
print(10 in my_list)

True
False

In [ ]:
#Concatenation and Repetition
list1 = [1, 2]
list2 = [3, 4]
combined = list1 + list2
print(combined)

[1, 2, 3, 4]

In [ ]:
#repetation
my_list = [0] * 4
print(my_list)

[0, 0, 0, 0]

### **#Describe how to access , modify and delete elements in a list**

In [ ]:
my_list = [10, 20, 30, 40, 50]

# Accessing elements using positive indexing
print(my_list[0])
print(my_list[3])

# Accessing elements using negative indexing
print(my_list[-1])
print(my_list[-2])

# Modifying elements
my_list[1] = 25
print(my_list)

# Deleting elements
del my_list[2]
print(my_list)

10
40
50
40
[10, 25, 30, 40, 50]
[10, 25, 40, 50]

In [ ]:
my_list = [10, 20, 30, 40, 50]

# Accessing a slice
print(my_list[1:4])  # Output: [20, 30, 40]

# Accessing elements with a step
print(my_list[::2])  # Output: [10, 30, 50] (every second element)

[20, 30, 40]
[10, 30, 50]

In [ ]:
#Modifying Elements in a List
my_list = [1, 2, 3, 4, 5]
my_list[1] = 10
print(my_list)

[1, 10, 3, 4, 5]

# **Compare and contrast Tuple and lists with example**

In [ ]:
#Tuples and Lists are both sequence data types in Python, meaning they can store collections of items. However, there are key differences between them in terms of mutability, syntax, use cases, and performance. Let’s compare and contrast these two data structures.

#  Mutability
# Lists: Lists are mutable, meaning you can modify their contents after creation. You can change, add, or remove elements.

# Tuples: Tuples are immutable, meaning once they are created, their contents cannot be changed. You cannot modify, add, or remove elements from a tuple.

In [ ]:
# List (Mutable)
my_list = [1, 2, 3]
my_list[1] = 20  # Modify element at index 1
print(my_list)  # Output: [1, 20, 3]

# Tuple (Immutable)
my_tuple = (1, 2, 3)
# my_tuple[1] = 20  # This would raise a TypeError since tuples are immutable

[1, 20, 3]

In [ ]:
my_list = [1, 2, 3]  # List
type(my_list)

list

In [ ]:
my_tuple = (1, 2, 3)  # Tuple
type(my_tuple)

tuple

#use cases
Lists: Lists are ideal for collections of items that need to be modified, such as dynamically changing data or when you need to frequently add, remove, or update elements.

Tuples: Tuples are useful for fixed collections of items. Common use cases include returning multiple values from a function, using them as keys in dictionaries (since they are immutable), and grouping related data that should not change.*italicized text*

In [ ]:
#6. Homogeneous vs Heterogeneous Elements
# Both Lists and Tuples: Both lists and tuples can store heterogeneous data types, meaning they can contain elements of different data types within the same collection.

In [ ]:
# List containing different data types
my_list = [1, "Hello", 3.14]
print(my_list)

# Tuple containing different data types
my_tuple = (1, "Hello", 3.14)
print(my_tuple)

[1, 'Hello', 3.14]
(1, 'Hello', 3.14)

# **Describe the key features of sets and provide examples of their use**

A set is a collection of unique, unordered elements in Python. Sets are useful when you need to store distinct elements and perform operations like union, intersection, or difference efficiently. Here's a breakdown of their key features:

In [30]:
# 1. Unordered Collection
# Sets are unordered, meaning the elements have no specific sequence, and you cannot access elements by their position or index.
my_set = {10, 20, 30}
print(my_set)  # Output may vary in order: {20, 10, 30}

{10, 20, 30}

In [31]:
#2. Unique Elements
my_set = {10, 20, 30, 20}
print(my_set)

{10, 20, 30}

In [35]:
# Mutable
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

my_set.remove(2)
print(my_set)

{1, 2, 3, 4}
{1, 3, 4}

In [ ]:
#  No Indexing or Slicing
# Since sets are unordered, you cannot access elements by their index like you can with lists or tuples. Operations like slicing (e.g., my_set[1:3]) are not allowed.

In [37]:
my_set = {10, 20, 30}
print(my_set[0])  # Raises TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [38]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)  # Removes duplicates
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [39]:
#Set operations

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

intersection_set = set1 & set2
print(intersection_set)  # Output: {3}

difference_set = set1 - set2
print(difference_set)  # Output: {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [40]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [41]:
my_set = {1, 2, 3}
popped_element = my_set.pop()
print(popped_element)  # Output: 1 (or any other element, it's arbitrary)
print(my_set)  # Output: {2, 3} (remaining elements)

1
{2, 3}

In [42]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

set()

In [43]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Combine sets with union
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

# Find common elements with intersection
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{1, 2, 3, 4, 5}
{3}

**Unordered Collection**- Elements are unordered, no indexing or slicing.
**Unique Elements**	- No duplicates allowed; only unique elements are stored.
**Mutable	Elements** - can be added or removed, though frozenset is immutable.
**Efficient Membership Testing**	- Fast membership testing using in.
**Mathematical Set Operations** -	Supports union, intersection, difference, and symmetric difference.
**Built-in Methods	Methods** like add(), remove(), discard(), pop(), clear(), etc.
**Immutable Set (frozenset)**	Immutable version of a set where elements cannot be changed after creation.
Duplicates Elimination	Convenient way to remove duplicates from lists or other iterables.